<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="officer">
            <h2><span>Officer</span> {{officer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{officer.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{officer.lastName}}</span>
                </dd>
                <dt><span>Identification Number</span></dt>
                <dd>
                    <span>{{officer.identificationNumber}}</span>
                </dd>
                <dt><span>Designation</span></dt>
                <dd>
                    <span>{{officer.designation}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/officer', officer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
