<div class="row">
    <div class="col-md-3">
        <!--<span class="hipster img-fluid rounded"></span>-->
    </div>
    <div class="col-md-9">

        <h2 class="display-4">Welcome to Incident Reporter!</h2>

        <div [ngSwitch]="isAuthenticated()">

            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". <br>
                Please click on the "View Incidents" button to continue.
                </span>
            </div>

            <div *ngSwitchCase="true">
                <button type="submit" class="btn btn-primary" [routerLink]="['/incident']">View Incidents</button>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you are alreadey registered, Click on  </span>&nbsp;
                <a class="alert-link">Account > Sign In </a>
            </div>

            <div *ngSwitchCase="false">
                <p>
                    If you have any question, please ask
                </p>

                <ul>
                    <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener">JHipster homepage</a></li>
                    <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li>
                    <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>
                    <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li>
                    <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li>
                </ul>

            </div>
        </div>


        <!--<p>-->
            <!--<span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!-->
        <!--</p>-->
    </div>
</div>
